
<div class="row pt-4">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-dark">Account LogIn</h1>
            </div>
            <div class="card-body">
                <form action="/users/login" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" value="{{email}}" class="form-control" placeholder="Email" required >
                    </div>
                    <div class="form-group">
                        <input type="password" name="password"  class="form-control" placeholder="Password" required >
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>