{{#each errors}}
        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
            <strong>{{text}}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
{{/each}}
<div class="row pt-4">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-dark">Register</h1>
            </div>
            <div class="card-body">
                <form action="/users/register" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" value="{{name}}" class="form-control" placeholder="Name" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" value="{{email}}" class="form-control" placeholder="Email" required >
                    </div>
                    <div class="form-group">
                        <input type="password" name="password"  class="form-control" placeholder="Password" required >
                    </div>
                    <div class="form-group">
                        <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required >
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>