<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A rem ut voluptatibus qui excepturi, 
            eligendi non expedita adipisci dicta quidem quam, aperiam ducimus iste tempora doloribus culpa
             fuga nulla enim!</p>
    </div>
</div>

