
<div class="jumbotron mt-4 bg-ligth">
    <h1 class= "display-4 ">Notes APP and Mongo DB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta sapiente
        at quam omnis ducimus corporis id facilis debitis deleniti. Excepturi impedit
        accusamus eveniet nisi nulla cupiditate voluptatum dolore corporis voluptas?</p>
    <a href="http://www.google.com" class="btn btn-success btn-lg">Vm Foundation</a>
</div>