<div class="col-md-4 mx-auto">
    {{#each errors}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{text}}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
    <div class="card">
        <div class="card-header">
            <h3>New note</h3>
        </div>
        <div class="card-body">
            <form action="/notes/addnote" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="tittle" required autofocus >
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control"  cols="30" rows="5" 
                     placeholder="Write an descripion" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>