
<div class="row">
    
    {{#each notes}}
        <div class="col-md-3 mb-4">
            <div class="card card-body">
                <h4 class="card-tittle d-flex justify-content-between align-items-center">
                    {{title}} <a href="/notes/editnote/{{_id}}"> <i class="fas fa-edit"></i>  </a>
                </h4>
                <hr>
                <p>{{description}}</p>
                   <a href="/notes/deletenote/{{_id}}" class="btn btn-secondary btn-block btn-sm"> Delete</a> 
            </div>
        </div>
        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <h1>Hello {{user.name}}</h1>
                <div class="card-title text-center">
                     <i class="fas text-secondary fa-5x fa-exclamation"></i>
                    <hr>
                </div>
                <p class="lead"> There are not notes yet</p>
                <a href="/notes/addnote" class="btn btn-success btn-block">Create One!</a>
            </div>
        </div>
    {{/each}}
</div>