<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Edit note</h3>
        </div>
        <div class="card-body">
            <form action="/notes/editnote/{{note._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" value="{{note.title}}" name="title" class="form-control" placeholder="tittle" required autofocus >
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control"  cols="30" rows="5" 
                     placeholder="Write an descripion" required> {{note.description}}</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>